body{
	background-color:#00001a;
	color: #ccffe6;
}


body {
    color: yellow;
    p
}

div {
    text-align: center;
  }

   

    .responsive {
      width: 100%;
      height: auto;
    }

    
    @media screen and (max-width: 768px)
    /* style.css:376 */